body
{
	background-color: #111111;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	display: flex;
	flex-direction: column;
	color: #ffffff;
}

h1
{
	text-align: center;
}

a
{
	color: white;
}

a:hover
{
	color: #8ebfff/*#5ea4ff*/;
}

a:active
{
	color: #7e6ad6/*#4950dd*/;
}

textarea
{
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #ffffff;
	resize: vertical;
	font-family: Arial, Helvetica, sans-serif;
}

.block
{
	background-color: #222222;
	margin: 10px;
	margin-bottom: 0px;
	padding: 10px;
}

#header
{
	border: none;
	display: block;
	height: 150px;
	margin: 10px;
	margin-bottom: 0px;
}